asgiref==3.11.1
asttokens==3.0.1
certifi==2026.4.22
charset-normalizer==3.4.7
colorama==0.4.6
decorator==5.3.1
Django==6.0.5
django-cors-headers==4.9.0
djangorestframework==3.17.1
executing==2.2.1
idna==3.15
ipython==9.13.0
ipython_pygments_lexers==1.1.1
jedi==0.20.0
matplotlib-inline==0.2.2
parso==0.8.7
prompt_toolkit==3.0.52
psutil==7.2.2
psycopg==3.3.4
psycopg-binary==3.3.4
pure_eval==0.2.3
Pygments==2.20.0
python-dotenv==1.2.2
requests==2.34.2
sqlparse==0.5.5
stack-data==0.6.3
traitlets==5.15.0
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
wcwidth==0.7.0
